In [ ]:
import pandas as pd
import statistics
from google.colab import files
uploaded = files.upload()

Saving Absenteeism_data.csv to Absenteeism_data.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Absenteeism_data.csv']))

In [ ]:
df.describe()

,ID,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,17.951429,19.411429,222.347143,29.892857,36.417143,271.801774,26.737143,1.282857,1.021429,0.687143,6.761429
std,11.028144,8.356292,66.312960,14.804446,6.379083,40.021804,4.254701,0.668090,1.112215,1.166095,12.670082
min,1.000000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,1.000000,0.000000,0.000000,0.000000
25%,9.000000,13.000000,179.000000,16.000000,31.000000,241.476000,24.000000,1.000000,0.000000,0.000000,2.000000
50%,18.000000,23.000000,225.000000,26.000000,37.000000,264.249000,25.000000,1.000000,1.000000,0.000000,3.000000
75%,28.000000,27.000000,260.000000,50.000000,40.000000,294.217000,31.000000,1.000000,2.000000,1.000000,8.000000
max,36.000000,28.000000,388.000000,52.000000,58.000000,378.884000,38.000000,4.000000,4.000000,8.000000,120.000000

In [ ]:
print(statistics.mean(df['Absenteeism Time in Hours']))

6.761428571428572

In [ ]:
from scipy.stats import sem
s = sem(df['Absenteeism Time in Hours'])
print(s)

0.478884097341678

In [ ]:
import numpy as np
print(np.corrcoef( df['Absenteeism Time in Hours'],df['Age']))

[[1.         0.03578441]
 [0.03578441 1.        ]]